<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junxiaoniao.book.mapper.NovelMapper">

    <select id="queryNovelList" resultType="Novel">
        select *
        from novel
    </select>

    <select id="queryNovelByName" resultType="Novel">
        select *
        from noval
        where novelName = #{novelName}
    </select>

    <select id="queryNovelCollection" resultType="Novel">
        select *
        from novel
        Order By collection DESC
    </select>

    <select id="fuzzyQueryNovelByName" resultType="Novel">
        select *
        from novel
        where novelName like #{novelName}
    </select>

    <update id="collect" parameterType="Novel">
        update novel
        set collection=#{collection}
        where novelName = #{novelName}
    </update>

    <insert id="uploadingNovel">
        insert into uploadingnovel(writerName, novelName, novelTag, brief, collection, fileURL, pictureURL) value (#{writerName},#{novelName},#{novelTag},#{brief},#{collection},#{fileURL},#{pictureURL})
    </insert>

    <insert id="uploadingPicture">
        insert into uploadingpicture (pictureURL) value (#{fileURL})
    </insert>

    <select id="queryUpNovel" resultType="Novel">
        select *
        from uploadingnovel
    </select>

    <select id="queryUploadingNovelByID" resultType="Novel">
        select *
        from uploadingnovel
        where novelID = #{novelID}
    </select>

    <insert id="pass">
        insert into pass(writerName, novelName, novelTag, brief, fileURL, pictureURL, collection) value (#{writerName},#{novelName},#{novelTag},#{brief},#{fileURL},#{pictureURL},#{collection})
    </insert>

    <delete id="deleteUploadingNovelByID" parameterType="int">
        delete
        from uploadingnovel
        where novelID = #{novelID}
    </delete>

</mapper>